<launch>
  <param name="/use_sim_time" value="false" />
  

  
  <include file="$(find description)/launch/description.launch"/>
  <include file="$(find sick_tim)/launch/tim.launch"/>
  <!--<include file="$(find realsense2_camera)/launch/rs_d435_camera_with_model.launch"/>-->
  <!--<include file="$(find fitxxx)/launch/FITXXX.launch"/>-->
  <!--<include file="$(find sick_safetyscanners)/launch/sick_safetyscanners.launch"/>   MicroScan3 driver 
  <include file="$(find fitxxx)/launch/FITXXX.launch"/>                          AkuSense AS-21C driver
  <include file="$(find pepperl_fuchs_r2000)/launch/r2000.launch"/>              P+F R2000 driver  -->
  
  
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
  

  <!--<node name="sonarF"  pkg="description"  type="sonarF.py" />
  <node name="sonarFL" pkg="description"  type="sonarFL.py" />
  <node name="sonarFR" pkg="description"  type="sonarFR.py" />
  <node name="sonarB"  pkg="description"  type="sonarB.py" /> -->
  
  
  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarF"
   args="0.20 0 0  0 0 0 /base_link /sonarF 40" /> 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarFL"
   args="0.20 0.20 0  0.7854 0 0 /base_link /sonarFL 40" /> 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarFR"
   args="0.20 -0.20 0  -0.7854 0 0 /base_link /sonarFR 40" /> 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarB"
   args="-0.20 0 0  3.1416 0 0 /base_link /sonarB 40" />  -->

  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarCloudF"
   args="0.20 0 0  0 0 0 /base_link /sonar_cloudpoint_F 40" /> 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarCloudFL"
   args="0.20 0.20 0 0.7854 0 0 /base_link /sonar_cloudpoint_FL 40" /> 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarCloudFR"
   args="0.20 -0.20 0 -0.7854  0 0 /base_link /sonar_cloudpoint_FR 40" /> 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarCloudB"
   args="-0.20 0 0 3.1416 0 0 /base_link /sonar_cloudpoint_B 40" /> 
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
    args="0.165 0 0 0 0 0 /base_link /laser_frame 40" /> -->
  
  
  <!--<node name="rosserial_node" type="serial_node.py" pkg="rosserial_python">
    <param name="port" type="string" value="/dev/ttyUSB1"/>

  </node>-->
 
  

  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu"
    args="0 0 0.2 0 0 0 /base_link /base_imu_link 40" /> -->
  
</launch>
