<launch>
    <!-- Load the URDF/Xacro model of our robot -->
    <arg name="LiDAR_type"  default="$(env LIDAR)"/>
    
    <group if="$(arg LiDAR_type)">
       <arg name="urdf_file" default="$(find xacro)/xacro '--inorder' '$(find description)/urdf/dashgobase/dashgobase_ao.xacro' use_nominal_extrinsics:=false"/>
       <param name="robot_description" command="$(arg urdf_file)" />
    
    </group>

    <group unless="$(arg LiDAR_type)">
       <arg name="urdf_file" default="$(find xacro)/xacro '--inorder' '$(find description)/urdf/dashgobase/dashgobase_sick.xacro' use_nominal_extrinsics:=false"/>
       <param name="robot_description" command="$(arg urdf_file)" />
    </group>
    
    
    <!--<param name="robot_description" command="$(arg urdf_file)" />-->
  

   
    
    <!-- Publish the robot state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="30.0"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	<param name="rate" value="30.0"/>
    </node>

</launch>
