<launch>
  <param name="/use_sim_time" value="false" />
  <node pkg="wheelhubodom" name="wheelhub_control" type="wheelhub_control" output="screen">    
  </node>
  

  <include file="$(find description)/launch/description.launch"/>
  
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
  

  <!--<node name="rosserial_node" type="serial_node.py" pkg="rosserial_python">
    <param name="port" type="string" value="/dev/ttyACM1"/>

  </node>
     
  <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen">
    <param name="port"         type="string" value="/dev/ydlidar"/>  
    <param name="baudrate"     type="int"    value="115200"/>
    <param name="frame_id"     type="string" value="laser_frame"/>
    <param name="angle_fixed"  type="bool"   value="true"/>
    <param name="low_exposure"  type="bool"   value="false"/>
    <param name="heartbeat"    type="bool"   value="false"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.08" />
    <param name="range_max"    type="double" value="16.0" />
    <param name="ignore_array" type="string" value="" />
    <param name="samp_rate"    type="int"    value="9"/>
    <param name="frequency"    type="double" value="7"/>
  </node>-->
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_ti_mmwave"
    args="-0.0835 0 0.2 -0.1 0 0 /base_footprint_real /ti_mmwave 40" />
  <!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarL"
   args="-0.095 0.19 -0.02 2.09 0 0 /base_link /sonarL 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarM"
   args="0.21 0 -0.02 0 0 0 /base_link /sonarM 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_sonarR"
   args="-0.095 -0.19 -0.02 4.193 0 0 /base_link /sonarR 40" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_imu"
    args="0 0 0.2 0 0 0 /base_footprint_real /base_imu_link 40" />-->
  
</launch>
