<?xml version="1.0"?>

<robot name="box_robot" 
       xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor">

   <!-- Define a number of dimensions using properties -->
   <xacro:property name="torso_offset_x" value="0.0" />
   <xacro:property name="torso_offset_y" value="0.0" />
   <xacro:property name="torso_offset_z" value="0.23" /> <!--base_height/2+torso_height/2 -->

   <!-- Include all component files -->
   <xacro:include filename="$(find description)/urdf/dashgobase_follow/materials.urdf.xacro" />
   <xacro:include filename="$(find description)/urdf/dashgobase_follow/base.urdf.xacro" />
   <xacro:include filename="$(find description)/urdf/dashgobase_follow/torso.urdf.xacro" />
   
   <xacro:include filename="$(find description)/urdf/dashgobase_follow/_d435.urdf.xacro" />
   <!--<link name="base_link" />-->
   <sensor_d435 parent="base_link">
     <!--<origin xyz="0.12 0 0.45" rpy="0 -0.18 0"/>-->
     <origin xyz="0.12 0 0.45" rpy="0 0 0"/>
   </sensor_d435>
  
   
   
   <!--<xacro:sensor_d435 name="camera" parent="base_link"/>-->
   <!-- Add the base and wheels -->
   <base name="base" color="Black"/>
   
   <!-- Attach the torso -->
<!--
   <torso name="torso" parent="base" color="Grey">
      <origin xyz="${torso_offset_x} ${torso_offset_y} ${torso_offset_z}" rpy="0 0 0" />
   </torso>
-->



  
  <link name="pillar1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.025 0.025 0.7" />
        </geometry>
        <material name="White" />
      </visual>
  </link>

  <joint name="pollar_rb_1" type="fixed">
    <origin xyz="0.13 -0.24 0.35" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pillar1" />
  </joint>
  
  <link name="pillar2">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.025 0.025 0.7" />
        </geometry>
        <material name="White" />
      </visual>
  </link>

  <joint name="pollar_rb_2" type="fixed">
    <origin xyz="0.13 0.24 0.35" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pillar2" />
  </joint>


  <link name="top">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.025 0.505 0.025" />
        </geometry>
        <material name="White" />
      </visual>
  </link>

  <joint name="top_joint" type="fixed">
    <origin xyz="0.13 0 0.7" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="top" />
  </joint>


  <link name="mid">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.505 0.13" />
        </geometry>
        <material name="White" />
      </visual>
  </link>

  <joint name="mid_joint" type="fixed">
    <origin xyz="0.13 0 0.35" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="mid" />
  </joint>
  
  
  

</robot>


