<?xml version="1.0"?>
<robot 
  name="box_robot"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://ros.org/wiki/xacro">
  
  


    <xacro:sick_tim name="tim561" ros_topic="scan" 
      length="0.06" width="0.06" height="0.086" mass="0.250" z_offset="0.06296"
      min_range="0.01" max_range="10"
      min_angle="-2.05" max_angle="2.05"
      mesh="package://sick_tim/meshes/sick_tim551.stl" />

    <!-- z_offset: distance between base plate and laser center (= center of mesh) -->
    <link name="laser">
      <inertial>
        <mass value="0.001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.000001" ixy="0.0" ixz="0.0"
          iyy="0.000001" iyz="0.0" izz="0.000001" />
      </inertial>
    </link>

    <joint name="laser_joint" type="fixed">
      <parent link="base_link" />
      <child link="laser" />
      <origin rpy="0 0 0" xyz="0 0 ${z_offset}"/>
    </joint>

    <link name="laser">
      <visual>
        <geometry>
          <mesh filename="${mesh}" />
        </geometry>
        <material name="blue" >
          <color rgba="0 0 1 1" />
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="${mesh}" />
        </geometry>
      </collision>
      <inertial>
        <mass value="${mass}" />
        <origin xyz="0 0 -0.026" />
        <inertia ixx="${0.0833333 * mass * (width * width + height * height)}" ixy="0.0" ixz="0.0"
          iyy="${0.0833333 * mass * (length * length + height * height)}" iyz="0.0"
          izz="${0.0833333 * mass * (length * length + width * width)}" />
      </inertial>
    </link>
   

