<?xml version="1.0"?>

<robot name="box_robot" 
       xmlns:xacro="http://ros.org/wiki/xacro"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor">

   <!-- Define a number of dimensions using properties -->
   <xacro:property name="torso_offset_x" value="0.0" />
   <xacro:property name="torso_offset_y" value="0.0" />
   <xacro:property name="torso_offset_z" value="0.23" /> <!--base_height/2+torso_height/2 -->

   <!-- Include all component files -->
   <xacro:include filename="$(find description)/urdf/dashgobase/materials.urdf.xacro" />
   <xacro:include filename="$(find description)/urdf/dashgobase/base1.urdf.xacro" />
   <xacro:include filename="$(find description)/urdf/dashgobase/torso.urdf.xacro" />


   <!--<xacro:include filename="$(find description)/urdf/dashgobase/sick_tim.urdf.xacro" />-->
   <!--<xacro:include filename="$(find description)/urdf/dashgobase/_d435.urdf.xacro" />-->
   <!--<link name="base_link" />-->
   <!--<sensor_d435 parent="base_link">
     <origin xyz="0.02 0.02 0.55" rpy="0 0 0"/>
   </sensor_d435>-->
  
   
   <!--<xacro:sick_tim551 name="laser" ros_topic="scan" />-->
   <!--<xacro:sensor_d435 name="camera" parent="base_link"/>-->
   <!-- Add the base and wheels -->
   <base name="base" color="Black"/>
   
   <!-- Attach the torso -->
<!--
   <torso name="torso" parent="base" color="Grey">
      <origin xyz="${torso_offset_x} ${torso_offset_y} ${torso_offset_z}" rpy="0 0 0" />
   </torso>
-->

  
 

  
  <link name="laser">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.05"/>
        </geometry>
        <material name="Black" />               
      </visual>
  </link>-->

  <joint name="top_t_laser" type="fixed">
    
    <origin xyz="0.155 0 0.1" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="laser" />
  </joint>
  

</robot>


